ul{
    list-style-type: none;
    margin: 0;
}
a{
    text-decoration: none;
    font-weight: bold;
}
.container{
    max-width: 1730px;
}
/*Navbar*/
header{
    height: 1200px;
    background-image: url("../img/bg-home-eduma.jpg");
    background-position: 25% 0;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
#navbar_{
    background: rgba(255, 137, 6, 0);
    position: fixed;
    top: 0;
    padding: 48px 0;
    width: 100%;
    transition: .3s all ease;
    z-index: 100;
}
.sticky  {
    background: rgba(255, 137, 6, 1) !important;
    padding: 16px 0 !important;
}
header nav ul a::after{
    content: "";
    display: block;
    background: #fff;
    width: 2px;
    height: 2px;
    margin: 0 auto;
    opacity: 0;
    transition: .3s all ease-in;
}
header nav ul a:hover::after{
    width: 100%;
    opacity: 1;
}
#navbar_ #menu {
    cursor: pointer;
}
#navbar_ #menu div{
    background: #fff;
}
#menu_nav{
    width: 275px;
    height: 100%;
    background: #222;
    z-index: 101;
    transform: translate( -275px);
    visibility: hidden;
}
.menu_open{
    transform: translate(0,0) !important;
    visibility: visible !important;
}
#menu_nav a:hover{
    color: #ffb606;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/*Preview*/
.preview{
    padding: 290px 0 0;
}
#called{
    font-size: 70px;
    font-weight: bolder;
    text-shadow: 3px 3px rgba(0,0,0,.1),0 8px 13px rgba(0,0,0,.1),0 18px 23px rgba(0,0,0,.1);
}
.preview a{
    position: relative;
    height: 70px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}
.preview a::before{
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    display: block;
    height: 100%;
    width: 5px;
    background: #fff;
    transition: 0.5s all ease;
}
.preview a:hover::before{
    width: 100%;
}
.preview a span{
    position: absolute;
}
.preview a:hover{
    color: #fe9b06;
}
#laptop{
    position: relative;
    bottom: -150px;
}

/*Header @media*/
@media screen and (max-width: 768px) {
    #One{
        width: 100px;
        position: relative;
        left: -20px;
    }
    .preview{
        padding: 120px 0 30px;
    }
    .preview a{
        height: 50px;
        width: 200px;
    }
    .br{
        display: none;
    }
    #called{
        font-size: 40px;
    }
    header{
        background-position: 0 0;
        height: 800px;
        overflow: hidden;
        margin: 0;
    }
    #navbar_{
        padding: 10px 0;
    }
    #laptop{
        position: static;
        padding-top: 50px;
    }
    .sticky{
        padding: 10px 0 !important;
    }
}

/*Plugin*/
#plugin{
    background: url("../img/bg-home-eduma-02.png") top center/ cover no-repeat;
    padding: 50px 0 38px;
}
#plugin h1, #video_block h1 {
    font-size: 55px;
}
#plugin p{
    font-size: 20px;
    font-weight: 600;
}
#plugin .line{
    content: "";
    display: block;
    background: #ffb606;
    width: 150px;
    height: 5px;
}
#plugin .plugin_icon img{
    border-radius: 20px;
}
#plugin .plugin_sub a{
    font-weight: 600;
    color: #000;
    opacity: 0.1;
    transition: .3s opacity ease;
}
#plugin .plugin_box:hover a{
    opacity: 1;
}

/*Video_block*/
#video_block{
    background: url("../img/bg-home-eduma-03.png") top center/cover no-repeat;
}
#video_block .video_box{
    max-width: 850px;
    background: #fff;
    border-radius: 15px;
    margin: 100px auto;
    box-shadow: 0 2px 15px rgba(0,0,0,.2);
    position: relative;
}
#video_block #control{
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    width: 90%;
    padding: 10px 20px;
}
#video_block #control #play{
    width: 10%;
    cursor: pointer;
}
#video_block #control div:nth-child(2){
    width: 20%;
    height: 5px;
    background: #ffb606;
}
#video_block #control div:nth-child(3){
    width: 60%;
    height: 5px;
    background: #58bbb5;
}
video{
    max-width: 100%;
}
.off{
    display: none;
}

/*Number_one*/
#video_block #one2{
    padding: 0 70px;
}
#video_block #stars i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/golden-star.png") center/cover no-repeat;
}
#video_block .row:nth-child(3){
    position: relative;
    top: 100px;
}
#video_block .item{
    width: 100%;
    border-radius: 25px;
    background: #fff;
    box-shadow:  0 3px 10px rgba(0,0,0,.1);
}
#video_block .item .item_box{
    padding: 65px 0;
    text-align: center;
}
#video_block .item .item_box img{
    display: block;
    margin: 0 auto;
}
#video_block .item .item_box img:hover{
    transform: scale(1.2);
    transition: .3s all ease;
}
#video_block .item .item_box span{
    font-size: 30px;
    display: block;
    padding-top: 10px;
    font-weight: 600;
}


/*Number_one @media*/
@media screen and (max-width:768px) {
    #video_block h1{
        font-size: 30px;
    }
}

/*Demos*/
#demos{
    background: url("../img/bg-home-eduma-4.jpg") top center/ cover no-repeat;
    padding: 270px 0 520px;
}
#demos #demos_text{
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}
#demos #demos_text h1{
    font-size: 150px;
    font-weight: bolder;
    text-shadow: 0 3px 3px rgba(0,0,0,.1),0 8px 13px rgba(0,0,0,.1),0 18px 23px rgba(0,0,0,.1);
    line-height: 0.9em;
}
#demos #demos_text span{
    color: #ffb606;
    background: #000;
    border-radius: 30px;
    font-weight: bold;
    padding: 5px 25px;
    font-size: 22px;
}
#demos #demos_text h2{
    font-size: 70px;
    font-weight: bolder;
    text-shadow: 0 3px 3px rgba(0,0,0,.1),0 8px 13px rgba(0,0,0,.1),0 18px 23px rgba(0,0,0,.1);
    line-height: 0.9em;
}
#demos #demos_text p{
    font-size: 23px;
    padding-top: 30px;
    text-shadow: 0 3px 3px rgba(0,0,0,.1),0 8px 13px rgba(0,0,0,.1),0 18px 23px rgba(0,0,0,.1);
}

#demos #tab{
    display: flex;
    white-space: nowrap;
    overflow-y: auto;
    padding: 0 15px 15px;
}
#demos #tab li{
    padding: 0 15px;
}
#demos #tab a{
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding-bottom: 7px;
    position: relative;
}
#demos #tab a::after{
    content: "";
    display: block;
    background: #fff;
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    transition: .2s width ease-in;
}
#demos #tab a.active::after{
    width: 100%;
}
#demos .tab:not(#all){
    display: none;
}
#demos .card{
    margin-top: 40px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    border: 0;
}
#demos .card:hover{
    background: linear-gradient(221deg,#00feaf 0%,#1d8ffa 29%,#01d6ff 100%);
}
#demos .card > a{
    background: #000;
    border-radius: 15px;
    position: relative;
}
#demos .card img{
    border-radius: 15px;
}
#demos .card a i{
    color: #fff;
    font-size: 60px;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 2;
    transition: 0.2s all ease;
}
#demos .card:hover a i{
    opacity: 1;
    top: 40%;
}
#demos .card:hover img{
    opacity: 0.7;
}
#demos .card p{
    text-align: center;
    margin: 0;
    padding: 30px 0 10px;
    font-size: 1.75rem;
}
#demos .card p a{
    color: #000;
    font-weight: 600;
}
#demos .card:hover p a{
    color: #fff;
}

#demos #laptop2{
    padding-top: 80px;
    position: absolute;
    width: 100%;
}
#demos #laptop2 .text_box{
    position: absolute;
    color: #fff;
    left: 5%;
    margin-top: 50px;
}
#demos #laptop2 .text_box h3{
    font-size: 52px;
    font-weight: bold;
}
#demos #laptop2 .text_box p{
    font-size: 23px;
    font-weight: 600;
}
#demos #laptop2 div:last-child{
    display: flex;
    flex-direction: row-reverse;
}

/*Demos @media*/
@media screen and (max-width:768px){
    #demos #demos_text h1{
        font-size: 120px;
    }
    #demos #demos_text h2{
        font-size: 50px;
    }
    #demos #laptop2 .text_box{
        position: static;
    }
    #demos #laptop2 .text_box h3{
        font-size: 38px;
    }
}